[Desktop Entry]
Version=1.0
Type=Application
Name=CrucioBackupper
Name[zh_CN]=快点阅读文章备份器
Comment=CrucioReader backup tool
Comment[zh_CN]=快点阅读文章备份器
Exec=crucio-backupper %f
Terminal=false
Categories=Utility;
MimeType=application/x-dign;
StartupNotify=true
